.MuiButtonBase-root.logo-navigation-button {
    box-shadow: none;
    background-color: transparent;

    &:hover {
        box-shadow: none;
        background-color: inherit;
    }
}

.current-user-avatar {
    background-color: transparent !important;
    box-shadow: none !important;
}